Repository AkaakuHub/maine: changes, and which lefthook commands are due for each by the changed paths.
All: format-front, lint-front, typecheck-front, tailwind-colors-check-front, format-back, lint-back, typecheck-back, format-libs, lint-libs, typecheck-libs, tailwind-colors-check-libs, knip

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    format-front:
      glob: "packages/apps/frontend/**/*.{vue,tsx,ts,mts,mcs,mjs,cjs,js,json,md,yml,yaml}"
      run: cd packages/apps/frontend && pnpm run format
      stage_fixed: true
      skip:
        - merge
        - rebase
    lint-front:
      glob: "packages/apps/frontend/**/*.{vue,tsx,ts,mts,mcs,mjs,cjs,js,json,md,yml,yaml}"
      run: cd packages/apps/frontend && pnpm run lint
      stage_fixed: true
      skip:
        - merge
        - rebase
    typecheck-front:
      glob: "packages/apps/frontend/**/*.{vue,tsx,ts,mts,mcs,mjs,cjs,js,json,md,yml,yaml}"
      run: cd packages/apps/frontend && pnpm run typecheck
      stage_fixed: true
      skip:
        - merge
        - rebase
    tailwind-colors-check-front:
      glob: "packages/apps/frontend/**/*.{vue,tsx,ts,mts,mcs,mjs,cjs,js,json,md,yml,yaml}"
      run: python3 scripts/check-tailwind-colors.py packages/apps/frontend/src
      stage_fixed: true
      skip:
        - merge
        - rebase

    format-back:
      glob: "packages/apps/backend/**/*.{ts,tsx,js,json,md,yml,yaml}"
      run: cd packages/apps/backend && pnpm run format
      stage_fixed: true
      skip:
        - merge
        - rebase
    lint-back:
      glob: "packages/apps/backend/**/*.{ts,tsx,js,json,md,yml,yaml}"
      run: cd packages/apps/backend && pnpm run lint
      stage_fixed: true
      skip:
        - merge
        - rebase
    typecheck-back:
      glob: "packages/apps/backend/**/*.{ts,tsx,js,json,md,yml,yaml}"
      run: cd packages/apps/backend && pnpm run typecheck
      stage_fixed: true
      skip:
        - merge
        - rebase

    format-libs:
      glob: "packages/libs/**/*.{vue,tsx,ts,mts,mcs,mjs,cjs,js,json,md,yml,yaml}"
      run: cd packages/libs && pnpm run format
      stage_fixed: true
      skip:
        - merge
        - rebase
    lint-libs:
      glob: "packages/libs/**/*.{vue,tsx,ts,mts,mcs,mjs,cjs,js,json,md,yml,yaml}"
      run: cd packages/libs && pnpm run lint
      stage_fixed: true
      skip:
        - merge
        - rebase
    typecheck-libs:
      glob: "packages/libs/**/*.{vue,tsx,ts,mts,mcs,mjs,cjs,js,json,md,yml,yaml}"
      run: cd packages/libs && pnpm run typecheck
      stage_fixed: true
      skip:
        - merge
        - rebase
    tailwind-colors-check-libs:
      glob: "packages/libs/**/*.{vue,tsx,ts,mts,mcs,mjs,cjs,js,json,md,yml,yaml}"
      run: python3 scripts/check-tailwind-colors.py packages/libs/src
      stage_fixed: true
      skip:
        - merge
        - rebase

    knip:
      glob: "packages/**/*.{vue,tsx,ts,mts,mcs,mjs,cjs,js,json,md,yml,yaml}"
      run: pnpm run knip
      stage_fixed: true
      skip:
        - merge
        - rebase

commit-msg:
  skip: []
  parallel: true
  commands:
    commitlint:
      run: pnpm commitlint --edit {1}

fix: imoprt common js
  packages/apps/backend/src/auth/permissions.service.ts
Due: format-back, lint-back, typecheck-back, knip

fix: wrong useeffect
  packages/libs/src/hooks/useChapterSkipRules.ts
Due: format-libs, lint-libs, typecheck-libs, tailwind-colors-check-libs, knip

fix: improve video watch ui
  packages/apps/frontend/src/app/play/[id]/page.tsx
  packages/libs/src/components/ModernVideoPlayer/ControlsOverlay.tsx
  packages/libs/src/components/ModernVideoPlayer/index.tsx
  packages/libs/src/components/ModernVideoPlayer/types.ts
  packages/libs/src/components/VideoPlayer/ResponsiveVideoLayout.tsx
Due: format-front, lint-front, typecheck-front, tailwind-colors-check-front, format-libs, lint-libs, typecheck-libs, tailwind-colors-check-libs, knip

fix: align video overlay controls
  packages/libs/src/components/ModernVideoPlayer/ControlsOverlay.tsx
  packages/libs/src/components/VideoPlayer/ResponsiveVideoLayout.tsx
Due: format-libs, lint-libs, typecheck-libs, tailwind-colors-check-libs, knip

fix: refine video sidebar toggle
  packages/libs/src/components/VideoPlayer/ResponsiveVideoLayout.tsx
Due: format-libs, lint-libs, typecheck-libs, tailwind-colors-check-libs, knip

fix: move sidebar toggle into video controls
  packages/libs/src/components/ModernVideoPlayer/ControlsOverlay.tsx
  packages/libs/src/components/ModernVideoPlayer/index.tsx
  packages/libs/src/components/ModernVideoPlayer/types.ts
  packages/libs/src/components/VideoPlayer/ResponsiveVideoLayout.tsx
Due: format-libs, lint-libs, typecheck-libs, tailwind-colors-check-libs, knip

fix: add backend windows service
  .gitignore
  knip.json
  package.json
  packages/apps/backend/README.md
  packages/apps/backend/package.json
  packages/apps/backend/scripts/windows-service/service.ps1
Due: knip

fix: remove stale backend scripts
  packages/apps/backend/package.json
  pnpm-lock.yaml
Due: knip

fix: repair scan sse progress
  packages/apps/backend/src/common/sse/sse-connection.store.ts
  packages/apps/backend/src/modules/scan/scan-control.controller.ts
  packages/apps/backend/src/modules/scan/scan-events.controller.ts
  packages/apps/backend/src/modules/scan/scan-scheduler.service.ts
  packages/apps/backend/src/modules/scan/scan-settings.controller.ts
  packages/apps/backend/src/modules/scan/scan-settings.service.ts
  packages/apps/backend/src/modules/scan/scan-start.controller.ts
  packages/apps/backend/src/services/ScanScheduler.ts
  packages/apps/backend/src/services/scan/ScanStreamProcessor.ts
  packages/apps/backend/src/services/videoCacheService.ts
  packages/apps/backend/src/utils/constants.ts
  packages/libs/src/hooks/useScanProgress.ts
  packages/libs/src/stores/scan-store.ts
  packages/libs/src/utils/constants.ts
Due: format-back, lint-back, typecheck-back, format-libs, lint-libs, typecheck-libs, tailwind-colors-check-libs, knip

fix: unify backend logging
  packages/apps/backend/src/auth/auth.service.ts
  packages/apps/backend/src/common/logger/app-logger.ts
  packages/apps/backend/src/common/logger/index.ts
  packages/apps/backend/src/config/cors.config.ts
  packages/apps/backend/src/libs/fileUtils.ts
  packages/apps/backend/src/main.ts
  packages/apps/backend/src/modules/chapters/chapters.controller.ts
  packages/apps/backend/src/modules/chapters/chapters.service.ts
  packages/apps/backend/src/modules/media/thumbnails.controller.ts
  packages/apps/backend/src/modules/playlists/playlists.controller.ts
  packages/apps/backend/src/modules/progress/progress.controller.ts
  packages/apps/backend/src/modules/progress/progress.service.ts
  packages/apps/backend/src/modules/scan/scan-control.controller.ts
  packages/apps/backend/src/modules/scan/scan-scheduler.service.ts
  packages/apps/backend/src/modules/scan/scan-settings.controller.ts
  packages/apps/backend/src/modules/scan/scan-start.controller.ts
  packages/apps/backend/src/modules/scan/scan.service.ts
  packages/apps/backend/src/modules/schedule/schedule-status.controller.ts
  packages/apps/backend/src/modules/schedule/schedule.controller.ts
  packages/apps/backend/src/modules/settings/chapter-skip.controller.ts
  packages/apps/backend/src/modules/settings/settings.service.ts
  packages/apps/backend/src/modules/system/program-info.controller.ts
  packages/apps/backend/src/modules/system/program-info.service.ts
  packages/apps/backend/src/modules/videos/video-info.controller.ts
  packages/apps/backend/src/modules/videos/video.controller.ts
  packages/apps/backend/src/modules/videos/videos.controller.ts
  packages/apps/backend/src/modules/videos/videos.service.ts
  packages/apps/backend/src/services/FFprobeMetadataExtractor.ts
  packages/apps/backend/src/services/ScanSchedulePersistenceService.ts
  packages/apps/backend/src/services/ScanScheduler.ts
  packages/apps/backend/src/services/ThumbnailGenerator.ts
  packages/apps/backend/src/services/scan/ScanCheckpointManager.ts
  packages/apps/backend/src/services/scan/ScanStreamProcessor.ts
  packages/apps/backend/src/services/videoCacheService.ts
  packages/apps/backend/src/type.d.ts
Due: format-back, lint-back, typecheck-back, knip

fix: tune backend log levels
  packages/apps/backend/src/modules/chapters/chapters.service.ts
  packages/apps/backend/src/modules/scan/scan.service.ts
  packages/apps/backend/src/modules/schedule/schedule-status.controller.ts
  packages/apps/backend/src/modules/schedule/schedule.controller.ts
  packages/apps/backend/src/modules/videos/video.controller.ts
  packages/apps/backend/src/modules/videos/videos.controller.ts
  packages/apps/backend/src/modules/videos/videos.service.ts
Due: format-back, lint-back, typecheck-back, knip

fix: persist service log level
  package.json
  packages/apps/backend/README.md
  packages/apps/backend/package.json
  packages/apps/backend/scripts/windows-service/service.ps1
  packages/apps/backend/src/common/logger/app-logger.ts
Due: format-back, lint-back, typecheck-back, knip

fix: make service script ascii
  packages/apps/backend/scripts/windows-service/service.ps1
Due: none

fix: enforce backend runtime version
  packages/apps/backend/README.md
  packages/apps/backend/scripts/migrate-password.ts
  packages/apps/backend/scripts/migrate-thumbnails.ts
  packages/apps/backend/scripts/windows-service/service.ps1
  pnpm-workspace.yaml
Due: format-back, lint-back, typecheck-back, knip

fix: escape service node version error
  packages/apps/backend/scripts/windows-service/service.ps1
Due: none

fix: quiet winsw download progress
  packages/apps/backend/scripts/windows-service/service.ps1
Due: none

docs: clarify backend service configuration
  packages/apps/backend/README.md
Due: knip

feat: refresh frontend favicon
  packages/apps/frontend/public/apple-touch-icon.png
  packages/apps/frontend/public/favicon-16x16.png
  packages/apps/frontend/public/favicon-32x32.png
  packages/apps/frontend/public/favicon.ico
Due: none
