Repository AkaakuHub/maine: changes, and which lefthook commands are due for each by the changed paths.
All: tailwind-colors-check, prettier, lslint

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    tailwind-colors-check:
      glob: "src/**/*.{ts,tsx,js,jsx}"
      run: ./scripts/check-tailwind-colors.sh
    prettier:
      glob: "**/*.{vue,tsx,ts,mts,mcs,mjs,cjs,js,json,md,yml,yaml}"
      run: pnpm run format
      stage_fixed: true
      skip:
        - merge
        - rebase
    lslint:
      glob: "**/*.{vue,tsx,ts,mts,mcs,mjs,cjs,js,json,md,yml,yaml}"
      run: pnpm run lint
      stage_fixed: true
      skip:
        - merge
        - rebase

commit-msg:
  skip: merge
  commands:
    commitlint:
      run: pnpm commitlint --edit {1}

feat: スケジューラ機能の永続化
  prisma/settings.prisma
  src/app/api/scan/schedule/route.ts
  src/services/ScanSchedulePersistenceService.ts
  src/services/ScanScheduler.ts
  src/services/videoCacheService.ts
Due: tailwind-colors-check, prettier, lslint

fix: ダーク時の色コントラストを人力で修正
  src/app/globals.css
  src/app/scan/page.tsx
  src/components/VideoPlayer/VideoDescription.tsx
  src/components/scan/ScanControlButtons.tsx
  src/components/scan/ScanSchedulePanel.tsx
  src/components/scan/ScanSettingsPanel.tsx
  src/components/scan/components/ScheduleSettings.tsx
Due: tailwind-colors-check, prettier, lslint

fix: 多すぎるログ
  src/services/offlineStorageService.ts
Due: tailwind-colors-check, prettier, lslint

fix: headerかぶり
  src/components/home/HeaderSection.tsx
Due: tailwind-colors-check, prettier, lslint

fix: ring focus
  src/app/globals.css
Due: none

feat: ラジオボタンUI統一
  src/components/VideoPlayer/VideoDescription.tsx
  src/components/scan/ScanSettingsPanel.tsx
  src/components/scan/components/ScheduleSettings.tsx
  src/components/settings/SettingsModal.tsx
  src/components/settings/SkipRuleItem.tsx
  src/components/ui/RadioGroup.tsx
Due: tailwind-colors-check, prettier, lslint

fix: 角丸すぎるデザインfix
  src/components/scan/components/ScheduleSettings.tsx
Due: tailwind-colors-check, prettier, lslint

feat: スキャンに設定モーダルボタン追加
  src/app/scan/page.tsx
Due: tailwind-colors-check, prettier, lslint

feat: inputを修正
  src/components/settings/SkipRuleForm.tsx
Due: tailwind-colors-check, prettier, lslint

feat: input統一化
  src/components/home/SearchSection.tsx
  src/components/settings/SkipRuleForm.tsx
  src/components/ui/Input.tsx
Due: tailwind-colors-check, prettier, lslint

fix: ui移動
  src/components/home/OfflineManagementPanel.tsx
  src/components/home/SearchSection.tsx
  src/components/home/VideoContent.tsx
  src/components/ui/Button.tsx
  src/components/ui/Button/index.ts
  src/components/ui/ConfirmDialog.tsx
Due: tailwind-colors-check, prettier, lslint

feat: サムネイルは33%地点
  CLAUDE.md
  src/services/ThumbnailGenerator.ts
  src/services/scan/ScanStreamProcessor.ts
  src/services/videoCacheService.ts
Due: tailwind-colors-check, prettier, lslint

fix: 不要関数
  src/services/ThumbnailGenerator.ts
Due: tailwind-colors-check, prettier, lslint

feat: ビルド、サーバー周り修正
  server.js
  src/app/layout.tsx
  src/hooks/useTheme.ts
  src/services/videoCacheService.ts
  src/utils/constants.ts
Due: tailwind-colors-check, prettier, lslint

fix: 開発環境の重大な修正
  lefthook.yml
  package.json
Due: none

fix: ホームに戻る際に最新の再生位置を表示
  src/app/layout.tsx
  src/app/page.tsx
  src/contexts/NavigationRefreshContext.tsx
  src/hooks/useVideoPlayer.ts
  src/services/settingsService.ts
  src/stores/chapterSkipStore.ts
  src/types/Settings.ts
Due: tailwind-colors-check, prettier, lslint

fix: import
  src/components/ModernVideoPlayer/SettingsMenu.tsx
  src/components/settings/SkipRuleItem.tsx
Due: tailwind-colors-check, prettier, lslint

fix: 変なlibの位置を修正
  src/app/api/scan/control/route.ts
  src/app/api/scan/events/route.ts
  src/app/api/scan/start/route.ts
  src/hooks/useScanProgress.ts
  src/libs/sse-connection-store.ts
  src/services/ScanScheduler.ts
  src/services/scan/ScanStreamProcessor.ts
  src/services/videoCacheService.ts
  src/stores/scan-store.ts
Due: tailwind-colors-check, prettier, lslint

fix: スケジュールの設定がない場合に欺瞞をせずに正しく表示
  src/app/api/scan/schedule/route.ts
  src/components/common/SafeDateDisplay.tsx
  src/components/scan/components/ScheduleStatus.tsx
  src/components/scan/hooks/useScanSchedule.ts
  src/components/scan/utils/timeFormatters.ts
Due: tailwind-colors-check, prettier, lslint

fix: 削除ファイルを正しく集計
  src/app/scan/page.tsx
  src/libs/sse-connection-store.ts
  src/services/videoCacheService.ts
  src/stores/scan-store.ts
Due: tailwind-colors-check, prettier, lslint

fix: インスタンス分裂問題を、レイジー初期化で解決
  src/app/api/scan/schedule/route.ts
  src/app/api/scan/schedule/status/route.ts
  src/services/ScanScheduler.ts
  src/services/videoCacheService.ts
Due: tailwind-colors-check, prettier, lslint

fix: knip
  .gitignore
  knip.json
  packages/backend/package.json
  packages/backend/prisma/20250603091655_rename_anime_to_video/migration.sql
  packages/backend/prisma/20250603111741_init_video_progress/migration.sql
  packages/backend/prisma/20250831114737_add_cache_settings/migration.sql
  packages/backend/prisma/20250831120204_fix_memory_to_db_architecture/migration.sql
  packages/backend/prisma/20250903091522_add_scan_checkpoint/migration.sql
  packages/backend/prisma/20250903121009_add_ffprobe_metadata_fields/migration.sql
  packages/backend/prisma/migration_lock.toml
  packages/backend/prisma/schema.prisma
  packages/backend/prisma/settings.prisma
  packages/backend/src/modules/scan/scan-settings.service.ts
  packages/backend/src/modules/settings/settings.service.ts
Due: prettier, lslint

fix: migration
  packages/backend/prisma/migrations/20251002044023_init/migration.sql
  packages/backend/prisma/migrations/migration_lock.toml
Due: none

fix: swagger path
  packages/backend/src/main.ts
Due: prettier, lslint

feat: frontのprismaパスを修正
  src/libs/settingsPrisma.ts
  src/services/ScanSchedulePersistenceService.ts
  src/services/videoCacheService.ts
Due: tailwind-colors-check, prettier, lslint

fix: apiレスポンスの日本語を移植
  packages/backend/src/modules/chapters/chapters.controller.ts
  packages/backend/src/modules/chapters/chapters.service.ts
  packages/backend/src/modules/media/thumbnails.controller.ts
  packages/backend/src/modules/progress/progress.controller.ts
  packages/backend/src/modules/progress/progress.service.ts
  packages/backend/src/modules/scan/scan-events.controller.ts
  packages/backend/src/modules/scan/scan-settings.controller.ts
  packages/backend/src/modules/scan/scan-start.controller.ts
  packages/backend/src/modules/scan/scan.service.ts
  packages/backend/src/modules/schedule/schedule-status.controller.ts
  packages/backend/src/modules/schedule/schedule.controller.ts
  packages/backend/src/modules/settings/chapter-skip.controller.ts
  packages/backend/src/modules/settings/settings.service.ts
  packages/backend/src/modules/videos/video-detail.controller.ts
  packages/backend/src/modules/videos/video.controller.ts
  packages/backend/src/modules/videos/videos.controller.ts
  packages/backend/src/modules/videos/videos.service.ts
Due: prettier, lslint

feat: api移行
  packages/frontend/src/app/scan/page.tsx
  packages/frontend/src/components/ModernVideoPlayer/hooks/useVideoChapters.ts
  packages/frontend/src/components/VideoCard/index.tsx
  packages/frontend/src/components/VideoList/index.tsx
  packages/frontend/src/components/scan/ScanSettingsPanel.tsx
  packages/frontend/src/components/scan/hooks/useScanSchedule.ts
  packages/frontend/src/hooks/useBeforeUnload.ts
  packages/frontend/src/hooks/useProgress.ts
  packages/frontend/src/hooks/useScanProgress.ts
  packages/frontend/src/hooks/useVideoPlayer.ts
  packages/frontend/src/hooks/useVideos.ts
  packages/frontend/src/services/offlineStorageService.ts
  packages/frontend/src/stores/chapterSkipStore.ts
  packages/frontend/src/utils/constants.ts
Due: prettier, lslint

fix: type error
  packages/frontend/src/hooks/useBeforeUnload.ts
  packages/frontend/src/hooks/useProgress.ts
  packages/frontend/src/hooks/useVideoProgress.ts
  packages/frontend/src/types/progress.ts
Due: prettier, lslint

fix: apiのプレフィックスを修正
  packages/frontend/src/utils/api.ts
Due: prettier, lslint

fix: env name
  packages/backend/src/modules/videos/video-detail.controller.ts
Due: prettier, lslint

feat: api tag
  .gitignore
  packages/backend/src/modules/scan/scan-events.controller.ts
  packages/backend/src/modules/videos/getVideo.controller.ts
  packages/backend/src/modules/videos/video-detail.controller.ts
  packages/backend/src/modules/videos/video.controller.ts
  packages/backend/src/modules/videos/videos.controller.ts
  packages/backend/src/modules/videos/videos.module.ts
Due: prettier, lslint

fix: atmark import
  knip.json
  packages/backend/nest-cli.json
  packages/backend/package.json
  packages/backend/src/libs/fileUtils.ts
  packages/backend/src/libs/prisma.ts
  packages/backend/src/libs/sse-connection-store.ts
  packages/backend/src/main.ts
  packages/backend/src/modules/scan/scan-start.controller.ts
  packages/backend/src/modules/scan/scan.module.ts
  packages/backend/src/services/FFprobeMetadataExtractor.ts
  packages/backend/src/services/ScanSchedulePersistenceService.ts
  packages/backend/src/services/ScanScheduler.ts
  packages/backend/src/services/ThumbnailGenerator.ts
  packages/backend/src/services/scan/ScanCheckpointManager.ts
  packages/backend/src/services/scan/ScanProgressCalculator.ts
  packages/backend/src/services/scan/ScanResourceMonitor.ts
  packages/backend/src/services/scan/ScanStreamProcessor.ts
  packages/backend/src/services/videoCacheService.ts
  packages/backend/src/type.d.ts
  packages/backend/src/types/scanScheduleSettings.ts
  packages/backend/src/types/scanSettings.ts
  packages/backend/src/utils/constants.ts
  packages/backend/src/utils/videoFileNameParser.ts
  packages/backend/tsconfig.json
  packages/backend/webpack.config.js
Due: prettier, lslint

fix: dev nest
  packages/backend/nest-cli.json
  packages/backend/package.json
  packages/backend/src/main.ts
Due: prettier, lslint

fix: search dto
  packages/backend/src/modules/videos/dto/search-videos.dto.ts
Due: prettier, lslint

fix: サムネイル配信、動画配信
  packages/backend/src/modules/chapters/chapters.service.ts
  packages/backend/src/modules/media/thumbnails.controller.ts
  packages/backend/src/modules/videos/video.controller.ts
Due: prettier, lslint

fix: チャプターapi
  packages/frontend/src/components/ModernVideoPlayer/hooks/useVideoChapters.ts
Due: prettier, lslint

fix: ビデオサムネイル関連
  packages/backend/src/modules/videos/video.controller.ts
  packages/frontend/src/app/play/[filePath]/page.tsx
  packages/frontend/src/components/ModernVideoPlayer/hooks/useMediaSession.ts
  packages/frontend/src/components/ModernVideoPlayer/hooks/useVideoScreenshot.ts
  packages/frontend/src/components/ModernVideoPlayer/index.tsx
  packages/frontend/src/components/ModernVideoPlayer/types.ts
  packages/frontend/src/components/VideoPlayer/ResponsiveVideoLayout.tsx
Due: prettier, lslint
