Repository AkaakuHub/maine: changes, and which lefthook commands are due for each by the changed paths.
All: format-front, lint-front, typecheck-front, tailwind-colors-check-front, format-back, lint-back, typecheck-back, format-libs, lint-libs, typecheck-libs, tailwind-colors-check-libs, knip

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    format-front:
      glob: "packages/apps/frontend/**/*.{vue,tsx,ts,mts,mcs,mjs,cjs,js,json,md,yml,yaml}"
      run: cd packages/apps/frontend && pnpm run format
      stage_fixed: true
      skip:
        - merge
        - rebase
    lint-front:
      glob: "packages/apps/frontend/**/*.{vue,tsx,ts,mts,mcs,mjs,cjs,js,json,md,yml,yaml}"
      run: cd packages/apps/frontend && pnpm run lint
      stage_fixed: true
      skip:
        - merge
        - rebase
    typecheck-front:
      glob: "packages/apps/frontend/**/*.{vue,tsx,ts,mts,mcs,mjs,cjs,js,json,md,yml,yaml}"
      run: cd packages/apps/frontend && pnpm run typecheck
      stage_fixed: true
      skip:
        - merge
        - rebase
    tailwind-colors-check-front:
      glob: "packages/apps/frontend/**/*.{vue,tsx,ts,mts,mcs,mjs,cjs,js,json,md,yml,yaml}"
      run: python3 scripts/check-tailwind-colors.py packages/apps/frontend/src
      stage_fixed: true
      skip:
        - merge
        - rebase

    format-back:
      glob: "packages/apps/backend/**/*.{ts,tsx,js,json,md,yml,yaml}"
      run: cd packages/apps/backend && pnpm run format
      stage_fixed: true
      skip:
        - merge
        - rebase
    lint-back:
      glob: "packages/apps/backend/**/*.{ts,tsx,js,json,md,yml,yaml}"
      run: cd packages/apps/backend && pnpm run lint
      stage_fixed: true
      skip:
        - merge
        - rebase
    typecheck-back:
      glob: "packages/apps/backend/**/*.{ts,tsx,js,json,md,yml,yaml}"
      run: cd packages/apps/backend && pnpm run typecheck
      stage_fixed: true
      skip:
        - merge
        - rebase

    format-libs:
      glob: "packages/libs/**/*.{vue,tsx,ts,mts,mcs,mjs,cjs,js,json,md,yml,yaml}"
      run: cd packages/libs && pnpm run format
      stage_fixed: true
      skip:
        - merge
        - rebase
    lint-libs:
      glob: "packages/libs/**/*.{vue,tsx,ts,mts,mcs,mjs,cjs,js,json,md,yml,yaml}"
      run: cd packages/libs && pnpm run lint
      stage_fixed: true
      skip:
        - merge
        - rebase
    typecheck-libs:
      glob: "packages/libs/**/*.{vue,tsx,ts,mts,mcs,mjs,cjs,js,json,md,yml,yaml}"
      run: cd packages/libs && pnpm run typecheck
      stage_fixed: true
      skip:
        - merge
        - rebase
    tailwind-colors-check-libs:
      glob: "packages/libs/**/*.{vue,tsx,ts,mts,mcs,mjs,cjs,js,json,md,yml,yaml}"
      run: python3 scripts/check-tailwind-colors.py packages/libs/src
      stage_fixed: true
      skip:
        - merge
        - rebase

    knip:
      glob: "packages/**/*.{vue,tsx,ts,mts,mcs,mjs,cjs,js,json,md,yml,yaml}"
      run: pnpm run knip
      stage_fixed: true
      skip:
        - merge
        - rebase

commit-msg:
  skip: []
  parallel: true
  commands:
    commitlint:
      run: pnpm commitlint --edit {1}

feat: varyをけす
  packages/apps/backend/src/modules/media/thumbnails.controller.ts
Due: format-back, lint-back, typecheck-back, knip

feat: passthrough?
  packages/apps/backend/src/modules/media/thumbnails.controller.ts
Due: format-back, lint-back, typecheck-back, knip

fix: wrangler
  packages/apps/frontend/wrangler.toml
Due: none

fix: 循環参照
  packages/apps/backend/src/modules/videos/video.controller.ts
Due: format-back, lint-back, typecheck-back, knip

fix: readme
  packages/apps/frontend/README.md
Due: knip

feat: jpegにして、再生状況と同期して、みた
  packages/libs/src/components/ModernVideoPlayer/hooks/useMediaSession.ts
  packages/libs/src/components/ModernVideoPlayer/index.tsx
Due: format-libs, lint-libs, typecheck-libs, tailwind-colors-check-libs, knip

fix: また循環参照
  packages/apps/backend/src/modules/media/thumbnails.controller.ts
Due: format-back, lint-back, typecheck-back, knip

feat: ダブルタップ待機を350msに
  packages/libs/src/components/ModernVideoPlayer/VideoElement.tsx
Due: format-libs, lint-libs, typecheck-libs, tailwind-colors-check-libs, knip

feat: youtube風のダブルタップ処理に修正
  packages/libs/src/components/ModernVideoPlayer/VideoElement.tsx
  packages/libs/src/components/ModernVideoPlayer/hooks/useVideoInteraction.ts
  packages/libs/src/components/ModernVideoPlayer/index.tsx
Due: format-libs, lint-libs, typecheck-libs, tailwind-colors-check-libs, knip

feat: youtube風のダブルタップ処理に修正2
  packages/libs/src/components/ModernVideoPlayer/hooks/useVideoInteraction.ts
Due: format-libs, lint-libs, typecheck-libs, tailwind-colors-check-libs, knip

fix: ダブルタップ治したとき、display: noneをしたから、アニメーションがなくなったので、良い感じにアニメーション機能だけ戻したい。非表示のときはdisplay: noneで正しい。
  packages/libs/src/components/ModernVideoPlayer/ControlsOverlay.tsx
Due: format-libs, lint-libs, typecheck-libs, tailwind-colors-check-libs, knip

feat: info jsonも検出する
  packages/apps/backend/src/modules/system/program-info.service.ts
Due: format-back, lint-back, typecheck-back, knip

feat: 概要欄の取得API
  packages/libs/src/hooks/useVideoPlayer.ts
Due: format-libs, lint-libs, typecheck-libs, tailwind-colors-check-libs, knip

fix: description api
  packages/apps/backend/src/modules/system/program-info.service.ts
Due: format-back, lint-back, typecheck-back, knip

fix: progress 401
  packages/libs/src/hooks/useProgress.ts
Due: format-libs, lint-libs, typecheck-libs, tailwind-colors-check-libs, knip

feat: 不要なlogを削除
  packages/libs/src/components/ModernVideoPlayer/hooks/useMediaSession.ts
  packages/libs/src/hooks/useProgress.ts
  packages/libs/src/hooks/useVideoProgress.ts
Due: format-libs, lint-libs, typecheck-libs, tailwind-colors-check-libs, knip

feat: 個別ビデオを401判定
  packages/apps/backend/src/modules/videos/videoId.controller.ts
  packages/apps/frontend/src/app/play/[videoId]/page.tsx
  packages/libs/src/components/EmptyState/index.tsx
  packages/libs/src/hooks/useVideoPlayer.ts
Due: format-front, lint-front, typecheck-front, tailwind-colors-check-front, format-back, lint-back, typecheck-back, format-libs, lint-libs, typecheck-libs, tailwind-colors-check-libs, knip

feat: playlist機能を実装
  packages/apps/backend/prisma/migrations/20251102064304_add_playlists/migration.sql
  packages/apps/backend/prisma/schema.prisma
  packages/apps/backend/src/app.module.ts
  packages/apps/backend/src/libs/fileUtils.ts
  packages/apps/backend/src/modules/playlists/playlists.controller.ts
  packages/apps/backend/src/modules/playlists/playlists.module.ts
  packages/apps/backend/src/modules/videos/video.controller.ts
  packages/apps/backend/src/modules/videos/videos.controller.ts
  packages/apps/backend/src/modules/videos/videos.service.ts
  packages/apps/backend/src/services/scan/ScanStreamProcessor.ts
  packages/apps/backend/src/services/videoCacheService.ts
  packages/apps/frontend/src/app/play/[videoId]/page.tsx
  packages/libs/src/components/PlaylistVideoList/index.tsx
  packages/libs/src/components/VideoPlayer/ResponsiveVideoLayout.tsx
  packages/libs/src/hooks/usePlaylists.ts
  packages/libs/src/hooks/useVideoPlayer.ts
  packages/libs/src/index.ts
  packages/libs/src/type.d.ts
  packages/libs/src/types/Playlist.ts
Due: format-front, lint-front, typecheck-front, tailwind-colors-check-front, format-back, lint-back, typecheck-back, format-libs, lint-libs, typecheck-libs, tailwind-colors-check-libs, knip

feat: playlistをinfo.jsonのtimestampでソート
  packages/apps/backend/src/modules/playlists/playlists.controller.ts
Due: format-back, lint-back, typecheck-back, knip

feat: authのadmin修正
  packages/apps/backend/src/auth/auth.controller.ts
  packages/apps/backend/src/auth/auth.module.ts
  packages/apps/backend/src/auth/auth.service.ts
  packages/apps/backend/src/auth/migration.service.ts
  packages/apps/backend/src/libs/fileUtils.ts
  packages/apps/backend/src/modules/scan/scan-control.controller.ts
  packages/apps/backend/src/modules/scan/scan-events.controller.ts
  packages/apps/backend/src/services/ThumbnailGenerator.ts
  packages/apps/backend/src/services/scan/ScanResourceMonitor.ts
  packages/apps/backend/src/services/scan/ScanStreamProcessor.ts
  packages/apps/backend/src/services/videoCacheService.ts
  packages/apps/frontend/src/app/login/page.tsx
  packages/libs/src/api/auth.ts
Due: format-front, lint-front, typecheck-front, tailwind-colors-check-front, format-back, lint-back, typecheck-back, format-libs, lint-libs, typecheck-libs, tailwind-colors-check-libs, knip

feat: loginとセッション関連の修正
  packages/apps/backend/src/auth/auth.controller.ts
  packages/apps/backend/src/auth/auth.service.ts
  packages/apps/frontend/src/app/login/page.tsx
  packages/libs/src/api/auth.ts
  packages/libs/src/components/auth/auth-guard.tsx
  packages/libs/src/hooks/use-user-exist-check.ts
  packages/libs/src/stores/auth-store.ts
Due: format-front, lint-front, typecheck-front, tailwind-colors-check-front, format-back, lint-back, typecheck-back, format-libs, lint-libs, typecheck-libs, tailwind-colors-check-libs, knip

feat: セッションを6ヶ月有効にする
  packages/apps/backend/src/auth/auth.module.ts
Due: format-back, lint-back, typecheck-back, knip

fix: パスのwindowsの扱い
  packages/apps/backend/src/libs/fileUtils.ts
  packages/apps/frontend/.gitignore
Due: format-back, lint-back, typecheck-back, knip

fix: パスのwindowsの扱い2
  packages/apps/backend/src/libs/fileUtils.ts
Due: format-back, lint-back, typecheck-back, knip

feat: 自動で次の動画に再生
  packages/libs/src/components/ModernVideoPlayer/hooks/usePlaylistNavigation.ts
  packages/libs/src/components/ModernVideoPlayer/hooks/useVideoElement.ts
  packages/libs/src/components/ModernVideoPlayer/index.tsx
  packages/libs/src/components/ModernVideoPlayer/types.ts
  packages/libs/src/components/VideoPlayer/ResponsiveVideoLayout.tsx
Due: format-libs, lint-libs, typecheck-libs, tailwind-colors-check-libs, knip

feat: 自動で次の動画に再生2
  packages/libs/src/components/ModernVideoPlayer/types.ts
Due: format-libs, lint-libs, typecheck-libs, tailwind-colors-check-libs, knip

feat: corsをサブドメイン緩和
  packages/apps/backend/src/config/cors.config.ts
Due: format-back, lint-back, typecheck-back, knip

fix: 180日に
  packages/apps/backend/src/auth/auth.module.ts
Due: format-back, lint-back, typecheck-back, knip

Revert "feat: loginとセッション関連の修正"
  packages/apps/backend/src/auth/auth.controller.ts
  packages/apps/backend/src/auth/auth.service.ts
  packages/apps/frontend/src/app/login/page.tsx
  packages/libs/src/api/auth.ts
  packages/libs/src/components/auth/auth-guard.tsx
  packages/libs/src/hooks/use-user-exist-check.ts
  packages/libs/src/stores/auth-store.ts
Due: format-front, lint-front, typecheck-front, tailwind-colors-check-front, format-back, lint-back, typecheck-back, format-libs, lint-libs, typecheck-libs, tailwind-colors-check-libs, knip

Reapply "feat: loginとセッション関連の修正"
  packages/apps/backend/src/auth/auth.controller.ts
  packages/apps/backend/src/auth/auth.service.ts
  packages/apps/frontend/src/app/login/page.tsx
  packages/libs/src/api/auth.ts
  packages/libs/src/components/auth/auth-guard.tsx
  packages/libs/src/hooks/use-user-exist-check.ts
  packages/libs/src/stores/auth-store.ts
Due: format-front, lint-front, typecheck-front, tailwind-colors-check-front, format-back, lint-back, typecheck-back, format-libs, lint-libs, typecheck-libs, tailwind-colors-check-libs, knip

fix: login
  packages/apps/backend/src/auth/auth.controller.ts
  packages/apps/backend/src/auth/jwt.strategy.ts
Due: format-back, lint-back, typecheck-back, knip

fix: loginしても検索ができないエラー。
  packages/apps/backend/src/auth/auth.module.ts
  packages/apps/backend/src/auth/jwt.strategy.ts
Due: format-back, lint-back, typecheck-back, knip

feat: 検索apiのバグを修正し、最初から20動画を表示
  packages/apps/backend/src/modules/videos/videos.controller.ts
  packages/apps/backend/src/modules/videos/videos.service.ts
  packages/apps/backend/src/services/videoCacheService.ts
  packages/apps/backend/src/type.d.ts
  packages/apps/frontend/src/app/page.tsx
  packages/libs/src/components/home/VideoContent.tsx
  packages/libs/src/hooks/useVideoActions.ts
  packages/libs/src/hooks/useVideos.ts
  packages/libs/src/stores/appStateStore.ts
Due: format-front, lint-front, typecheck-front, tailwind-colors-check-front, format-back, lint-back, typecheck-back, format-libs, lint-libs, typecheck-libs, tailwind-colors-check-libs, knip

feat: wranglerはprod
  packages/apps/frontend/package.json
Due: knip

fix: 検索の欺瞞
  packages/apps/frontend/src/app/page.tsx
  packages/libs/src/hooks/useVideos.ts
  packages/libs/src/stores/appStateStore.ts
Due: format-front, lint-front, typecheck-front, tailwind-colors-check-front, format-libs, lint-libs, typecheck-libs, tailwind-colors-check-libs, knip

feat: 進捗を1ファイルずつ
  packages/apps/backend/src/services/scan/ScanStreamProcessor.ts
  packages/apps/backend/src/services/videoCacheService.ts
Due: format-back, lint-back, typecheck-back, knip

fix: jwt env
  packages/apps/backend/.env.example
Due: none

fix: 重複videoIDを排除
  packages/apps/backend/prisma/schema.prisma
  packages/apps/backend/src/services/videoCacheService.ts
Due: format-back, lint-back, typecheck-back, knip

feat: migrate
  packages/apps/backend/prisma/migrations/20251116133717_init/migration.sql
Due: none
