Repository AkaakuHub/maine: changes, and which lefthook commands are due for each by the changed paths.
All: format-front, lint-front, typecheck-front, tailwind-colors-check-front, format-back, lint-back, typecheck-back, format-libs, lint-libs, typecheck-libs, tailwind-colors-check-libs, knip

format-front:
  run: cd packages/apps/frontend && pnpm run format
  stage_fixed: true
  skip:
  - merge
  - rebase

lint-front:
  run: cd packages/apps/frontend && pnpm run lint
  stage_fixed: true
  skip:
  - merge
  - rebase

typecheck-front:
  run: cd packages/apps/frontend && pnpm run typecheck
  stage_fixed: true
  skip:
  - merge
  - rebase

tailwind-colors-check-front:
  run: python3 scripts/check-tailwind-colors.py packages/apps/frontend/src
  stage_fixed: true
  skip:
  - merge
  - rebase

format-back:
  run: cd packages/apps/backend && pnpm run format
  stage_fixed: true
  skip:
  - merge
  - rebase

lint-back:
  run: cd packages/apps/backend && pnpm run lint
  stage_fixed: true
  skip:
  - merge
  - rebase

typecheck-back:
  run: cd packages/apps/backend && pnpm run typecheck
  stage_fixed: true
  skip:
  - merge
  - rebase

format-libs:
  run: cd packages/libs && pnpm run format
  stage_fixed: true
  skip:
  - merge
  - rebase

lint-libs:
  run: cd packages/libs && pnpm run lint
  stage_fixed: true
  skip:
  - merge
  - rebase

typecheck-libs:
  run: cd packages/libs && pnpm run typecheck
  stage_fixed: true
  skip:
  - merge
  - rebase

tailwind-colors-check-libs:
  run: python3 scripts/check-tailwind-colors.py packages/libs/src
  stage_fixed: true
  skip:
  - merge
  - rebase

knip:
  run: pnpm run knip
  stage_fixed: true
  skip:
  - merge
  - rebase

feat: ユーザーを実装
  biome.json
  packages/apps/backend/package.json
  packages/apps/backend/prisma/schema.prisma
  packages/apps/backend/src/app.module.ts
  packages/apps/backend/src/auth/auth.controller.ts
  packages/apps/backend/src/auth/auth.module.ts
  packages/apps/backend/src/auth/auth.service.ts
  packages/apps/backend/src/auth/decorators/roles.decorator.ts
  packages/apps/backend/src/auth/dto/first-user.dto.ts
  packages/apps/backend/src/auth/dto/login.dto.ts
  packages/apps/backend/src/auth/dto/register.dto.ts
  packages/apps/backend/src/auth/jwt-auth.guard.ts
  packages/apps/backend/src/auth/jwt.strategy.ts
  packages/apps/backend/src/auth/migration.service.ts
  packages/apps/backend/src/auth/permissions.controller.ts
  packages/apps/backend/src/auth/permissions.service.ts
  packages/apps/backend/src/auth/roles.guard.ts
  packages/apps/backend/src/modules/progress/progress.controller.ts
  packages/apps/backend/src/modules/progress/progress.service.ts
  packages/apps/backend/src/modules/videos/videos.service.ts
  packages/apps/backend/src/services/videoCacheService.ts
  packages/apps/frontend/src/app/login/page.tsx
  packages/apps/frontend/src/app/page.tsx
  packages/apps/frontend/tsconfig.json
  packages/libs/src/api/auth.ts
  packages/libs/src/components/auth/auth-guard.tsx
  packages/libs/src/components/home/HeaderSection.tsx
  packages/libs/src/index.ts
  packages/libs/src/stores/auth-store.ts
  pnpm-lock.yaml
Due: format-front, lint-front, typecheck-front, tailwind-colors-check-front, format-back, lint-back, typecheck-back, format-libs, lint-libs, typecheck-libs, tailwind-colors-check-libs, knip

feat: not-foundを簡素化
  packages/apps/frontend/src/app/not-found.tsx
Due: format-front, lint-front, typecheck-front, tailwind-colors-check-front, knip

feat: スキャンはadminのみ
  packages/apps/frontend/src/app/scan/page.tsx
  packages/libs/src/components/auth/auth-guard.tsx
  packages/libs/src/components/home/HeaderSection.tsx
Due: format-front, lint-front, typecheck-front, tailwind-colors-check-front, format-libs, lint-libs, typecheck-libs, tailwind-colors-check-libs, knip

feat: アクセスコントロール
  packages/apps/backend/src/auth/permissions.controller.ts
  packages/apps/backend/src/auth/permissions.service.ts
  packages/apps/backend/src/modules/videos/videos.controller.ts
  packages/apps/backend/src/modules/videos/videos.module.ts
  packages/apps/backend/src/modules/videos/videos.service.ts
  packages/apps/frontend/src/app/admin/permissions/page.tsx
  packages/apps/frontend/src/app/page.tsx
  packages/libs/src/components/home/HeaderSection.tsx
Due: format-front, lint-front, typecheck-front, tailwind-colors-check-front, format-back, lint-back, typecheck-back, format-libs, lint-libs, typecheck-libs, tailwind-colors-check-libs, knip

fix: ディレクトリ扱い
  packages/apps/backend/src/modules/videos/videos.controller.ts
  packages/apps/backend/src/modules/videos/videos.service.ts
Due: format-back, lint-back, typecheck-back, knip

fix: 権限がおかしい問題
  packages/apps/backend/src/auth/permissions.service.ts
  packages/apps/backend/src/modules/videos/videos.controller.ts
  packages/apps/backend/src/modules/videos/videos.service.ts
  packages/libs/src/hooks/useVideos.ts
Due: format-back, lint-back, typecheck-back, format-libs, lint-libs, typecheck-libs, tailwind-colors-check-libs, knip

feat: webpがある場合はそれを使用
  packages/apps/backend/src/modules/media/media.module.ts
  packages/apps/backend/src/modules/media/thumbnail-generator.service.ts
  packages/apps/backend/src/services/ThumbnailGenerator.ts
Due: format-back, lint-back, typecheck-back, knip

feat: back cors env
  packages/apps/backend/.env.example
  packages/apps/backend/src/config/cors.config.ts
Due: format-back, lint-back, typecheck-back, knip

feat: フロント設定修正
  packages/apps/frontend/next.config.mjs
Due: knip

feat: prod command
  package.json
  packages/apps/backend/package.json
Due: knip

feat: 不要
  packages/apps/frontend/server.js
Due: knip

feat: マイグレーション追加
  packages/apps/backend/prisma/migrations/20251029051332_init/migration.sql
Due: none

fix: windows対応
  packages/apps/backend/src/app.module.ts
  packages/apps/backend/src/libs/fileUtils.ts
  packages/apps/backend/src/modules/videos/videos.controller.ts
  packages/apps/backend/src/services/videoCacheService.ts
Due: format-back, lint-back, typecheck-back, knip

fix: 凝り固まった、放送局を抜き出す処理を中止する
  packages/libs/src/utils/videoFileNameParser.ts
Due: format-libs, lint-libs, typecheck-libs, tailwind-colors-check-libs, knip

feat: 動画が存在しないエラーのキャッチ
  packages/apps/backend/src/modules/chapters/chapters.controller.ts
  packages/apps/backend/src/modules/videos/video.controller.ts
  packages/apps/frontend/src/app/play/[videoId]/page.tsx
  packages/libs/src/components/EmptyState/index.tsx
  packages/libs/src/components/ModernVideoPlayer/VideoElement.tsx
  packages/libs/src/components/ModernVideoPlayer/hooks/useVideoChapters.ts
  packages/libs/src/components/ModernVideoPlayer/index.tsx
  packages/libs/src/components/VideoPlayer/ResponsiveVideoLayout.tsx
  packages/libs/src/hooks/useVideoPlayer.ts
Due: format-front, lint-front, typecheck-front, tailwind-colors-check-front, format-back, lint-back, typecheck-back, format-libs, lint-libs, typecheck-libs, tailwind-colors-check-libs, knip

feat: フルスクリーン in ios
  packages/libs/src/components/ModernVideoPlayer/hooks/useVideoFullscreen.ts
  packages/libs/src/components/ModernVideoPlayer/hooks/useVideoScreenshot.ts
  packages/libs/src/components/ModernVideoPlayer/types.ts
Due: format-libs, lint-libs, typecheck-libs, tailwind-colors-check-libs, knip

feat: nestをhttpsで起動
  packages/apps/backend/package.json
  packages/apps/backend/src/main.ts
Due: format-back, lint-back, typecheck-back, knip

fix: モバイルで、画像をDLではなく共有を有線
  packages/libs/src/components/ModernVideoPlayer/hooks/useVideoScreenshot.ts
Due: format-libs, lint-libs, typecheck-libs, tailwind-colors-check-libs, knip

fix: アイコン家
  packages/libs/src/components/EmptyState/index.tsx
Due: format-libs, lint-libs, typecheck-libs, tailwind-colors-check-libs, knip

fix: ダブルタップで飛ばす判定を、コントロールオーバーレイを通過
  packages/libs/src/components/ModernVideoPlayer/VideoElement.tsx
Due: format-libs, lint-libs, typecheck-libs, tailwind-colors-check-libs, knip

fix: サムネイルのmedia session APIを修正
  packages/libs/src/components/ModernVideoPlayer/hooks/useMediaSession.ts
Due: format-libs, lint-libs, typecheck-libs, tailwind-colors-check-libs, knip

feat: 欺瞞のconsole.logを削除
  packages/apps/frontend/src/app/scan/page.tsx
  packages/libs/src/components/ModernVideoPlayer/hooks/useVideoScreenshot.ts
  packages/libs/src/components/PWAInstallPrompt/index.tsx
  packages/libs/src/components/VideoList/index.tsx
  packages/libs/src/components/common/SafeDateDisplay.tsx
  packages/libs/src/components/scan/hooks/useScanSchedule.ts
  packages/libs/src/hooks/useNetworkStatus.ts
  packages/libs/src/hooks/useVideoPlayer.ts
  packages/libs/src/hooks/useVideoProgress.ts
  packages/libs/src/hooks/useVideos.ts
Due: format-front, lint-front, typecheck-front, tailwind-colors-check-front, format-libs, lint-libs, typecheck-libs, tailwind-colors-check-libs, knip

fix: ボタン位置が中央ではなかった問題を修正
  packages/libs/src/components/ModernVideoPlayer/VideoElement.tsx
  packages/libs/src/components/ModernVideoPlayer/index.tsx
Due: format-libs, lint-libs, typecheck-libs, tailwind-colors-check-libs, knip

feat: ダブルタップとシングルタップを区別
  packages/libs/src/components/ModernVideoPlayer/ControlsOverlay.tsx
  packages/libs/src/components/ModernVideoPlayer/VideoElement.tsx
  packages/libs/src/components/ModernVideoPlayer/hooks/useVideoControls.ts
  packages/libs/src/components/ModernVideoPlayer/hooks/useVideoInteraction.ts
  packages/libs/src/components/ModernVideoPlayer/index.tsx
Due: format-libs, lint-libs, typecheck-libs, tailwind-colors-check-libs, knip

fix: invalid header
  packages/apps/backend/src/modules/videos/video.controller.ts
Due: format-back, lint-back, typecheck-back, knip

fix: 期限ぎれトークンを冷笑
  packages/apps/backend/src/auth/auth.controller.ts
  packages/apps/backend/src/auth/types/request.types.ts
  packages/libs/src/api/auth.ts
  packages/libs/src/stores/auth-store.ts
Due: format-back, lint-back, typecheck-back, format-libs, lint-libs, typecheck-libs, tailwind-colors-check-libs, knip

feat: サムネイルのアートワークにcredentials: 'include'をしてみる
  packages/libs/src/components/ModernVideoPlayer/hooks/useMediaSession.ts
Due: format-libs, lint-libs, typecheck-libs, tailwind-colors-check-libs, knip

feat: blob, canvas作戦
  packages/libs/src/components/ModernVideoPlayer/hooks/useMediaSession.ts
Due: format-libs, lint-libs, typecheck-libs, tailwind-colors-check-libs, knip

fix: nodeenv
  packages/apps/frontend/package.json
Due: knip

fix: nodeenv 2
  packages/apps/backend/package.json
Due: knip

feat: devわけ
  package.json
  packages/apps/frontend/package.json
Due: knip

fix: typo
  package.json
Due: none

feat: log
  packages/libs/src/components/ModernVideoPlayer/hooks/useMediaSession.ts
Due: format-libs, lint-libs, typecheck-libs, tailwind-colors-check-libs, knip

feat: vary origin cookie
  packages/apps/backend/src/modules/media/thumbnails.controller.ts
Due: format-back, lint-back, typecheck-back, knip

feat: opennextjsを導入した。
  packages/apps/frontend/.gitignore
  packages/apps/frontend/next.config.mjs
  packages/apps/frontend/open-next.config.ts
  packages/apps/frontend/package.json
  packages/apps/frontend/wrangler.toml
  pnpm-lock.yaml
Due: knip

feat: redme
  packages/apps/frontend/README.md
Due: knip

Path conditions:
  format-front: any of: packages/apps/frontend/**/*.{vue,tsx,ts,mts,mcs,mjs,cjs,js,json,md,yml,yaml}
  lint-front: any of: packages/apps/frontend/**/*.{vue,tsx,ts,mts,mcs,mjs,cjs,js,json,md,yml,yaml}
  typecheck-front: any of: packages/apps/frontend/**/*.{vue,tsx,ts,mts,mcs,mjs,cjs,js,json,md,yml,yaml}
  tailwind-colors-check-front: any of: packages/apps/frontend/**/*.{vue,tsx,ts,mts,mcs,mjs,cjs,js,json,md,yml,yaml}
  format-back: any of: packages/apps/backend/**/*.{ts,tsx,js,json,md,yml,yaml}
  lint-back: any of: packages/apps/backend/**/*.{ts,tsx,js,json,md,yml,yaml}
  typecheck-back: any of: packages/apps/backend/**/*.{ts,tsx,js,json,md,yml,yaml}
  format-libs: any of: packages/libs/**/*.{vue,tsx,ts,mts,mcs,mjs,cjs,js,json,md,yml,yaml}
  lint-libs: any of: packages/libs/**/*.{vue,tsx,ts,mts,mcs,mjs,cjs,js,json,md,yml,yaml}
  typecheck-libs: any of: packages/libs/**/*.{vue,tsx,ts,mts,mcs,mjs,cjs,js,json,md,yml,yaml}
  tailwind-colors-check-libs: any of: packages/libs/**/*.{vue,tsx,ts,mts,mcs,mjs,cjs,js,json,md,yml,yaml}
  knip: any of: packages/**/*.{vue,tsx,ts,mts,mcs,mjs,cjs,js,json,md,yml,yaml}
