Repository AkaakuHub/maine: changes, and which lefthook commands are due for each by the changed paths.
All: format-front, lint-front, typecheck-front, tailwind-colors-check-front, format-back, lint-back, typecheck-back, format-libs, lint-libs, typecheck-libs, tailwind-colors-check-libs, knip

format-front:
  run: cd packages/apps/frontend && pnpm run format
  stage_fixed: true
  skip:
  - merge
  - rebase

lint-front:
  run: cd packages/apps/frontend && pnpm run lint
  stage_fixed: true
  skip:
  - merge
  - rebase

typecheck-front:
  run: cd packages/apps/frontend && pnpm run typecheck
  stage_fixed: true
  skip:
  - merge
  - rebase

tailwind-colors-check-front:
  run: python3 scripts/check-tailwind-colors.py packages/apps/frontend/src
  stage_fixed: true
  skip:
  - merge
  - rebase

format-back:
  run: cd packages/apps/backend && pnpm run format
  stage_fixed: true
  skip:
  - merge
  - rebase

lint-back:
  run: cd packages/apps/backend && pnpm run lint
  stage_fixed: true
  skip:
  - merge
  - rebase

typecheck-back:
  run: cd packages/apps/backend && pnpm run typecheck
  stage_fixed: true
  skip:
  - merge
  - rebase

format-libs:
  run: cd packages/libs && pnpm run format
  stage_fixed: true
  skip:
  - merge
  - rebase

lint-libs:
  run: cd packages/libs && pnpm run lint
  stage_fixed: true
  skip:
  - merge
  - rebase

typecheck-libs:
  run: cd packages/libs && pnpm run typecheck
  stage_fixed: true
  skip:
  - merge
  - rebase

tailwind-colors-check-libs:
  run: python3 scripts/check-tailwind-colors.py packages/libs/src
  stage_fixed: true
  skip:
  - merge
  - rebase

knip:
  run: pnpm run knip
  stage_fixed: true
  skip:
  - merge
  - rebase

fix: 不要なマイグレーション用のコードを完全に削除1
  packages/apps/backend/src/modules/videos/videos.controller.ts
  packages/apps/backend/src/modules/videos/videos.service.ts
Due: format-back, lint-back, typecheck-back, knip

fix: サムネイルをvideoID依存に
  packages/apps/backend/src/services/ThumbnailGenerator.ts
  packages/apps/backend/src/services/scan/ScanStreamProcessor.ts
  packages/apps/backend/src/services/videoCacheService.ts
Due: format-back, lint-back, typecheck-back, knip

feat: マイグレーション用ts１つ
  packages/apps/backend/scripts/migrate-thumbnails.ts
Due: format-back, lint-back, typecheck-back, knip

fix: windwosで壊れる
  packages/apps/backend/scripts/migrate-thumbnails.ts
Due: format-back, lint-back, typecheck-back, knip

fix: ignore wrangler config
  packages/apps/frontend/.gitignore
  packages/apps/frontend/wrangler.toml.sample
Due: none

fix: front deploy
  packages/apps/frontend/package.json
  pnpm-lock.yaml
Due: knip

feat: env ignore
  AGENTS.md
  packages/apps/frontend/.gitignore
  packages/apps/frontend/README.md
Due: knip

feat: edit profile
  packages/apps/backend/src/app.module.ts
  packages/apps/backend/src/config/cors.config.ts
  packages/apps/backend/src/modules/users/dto/update-password.dto.ts
  packages/apps/backend/src/modules/users/dto/update-user-profile.dto.ts
  packages/apps/backend/src/modules/users/users.controller.ts
  packages/apps/backend/src/modules/users/users.module.ts
  packages/apps/backend/src/modules/users/users.service.ts
  packages/apps/frontend/src/app/account/page.tsx
  packages/libs/src/api/account.ts
  packages/libs/src/components/home/HeaderSection.tsx
  packages/libs/src/index.ts
  packages/libs/src/stores/auth-store.ts
Due: format-front, lint-front, typecheck-front, tailwind-colors-check-front, format-back, lint-back, typecheck-back, format-libs, lint-libs, typecheck-libs, tailwind-colors-check-libs, knip

feat: パスワードを暗号化v1
  packages/apps/backend/prisma/migrations/20251117042522_add_auth_challenge/migration.sql
  packages/apps/backend/prisma/schema.prisma
  packages/apps/backend/scripts/migrate-password.ts
  packages/apps/backend/src/auth/auth.controller.ts
  packages/apps/backend/src/auth/auth.service.ts
  packages/apps/backend/src/auth/dto/challenge-request.dto.ts
  packages/apps/backend/src/auth/dto/login.dto.ts
  packages/apps/backend/src/auth/password.utils.ts
  packages/apps/backend/src/modules/users/users.service.ts
  packages/apps/frontend/src/app/login/page.tsx
  packages/libs/src/api/auth.ts
Due: format-front, lint-front, typecheck-front, tailwind-colors-check-front, format-back, lint-back, typecheck-back, format-libs, lint-libs, typecheck-libs, tailwind-colors-check-libs, knip

fix: 変更の際もダイジェスト方式
  knip.json
  packages/apps/backend/scripts/migrate-password.ts
  packages/apps/backend/src/auth/auth.service.ts
  packages/apps/backend/src/auth/dto/first-user.dto.ts
  packages/apps/backend/src/auth/dto/register.dto.ts
  packages/apps/backend/src/auth/password.utils.ts
  packages/apps/backend/src/modules/users/dto/update-password.dto.ts
  packages/apps/backend/src/modules/users/users.controller.ts
  packages/apps/backend/src/modules/users/users.module.ts
  packages/apps/backend/src/modules/users/users.service.ts
  packages/apps/frontend/src/app/account/page.tsx
  packages/libs/src/api/account.ts
  packages/libs/src/api/auth.ts
  packages/libs/src/utils/password-crypto.ts
Due: format-front, lint-front, typecheck-front, tailwind-colors-check-front, format-back, lint-back, typecheck-back, format-libs, lint-libs, typecheck-libs, tailwind-colors-check-libs, knip

feat: 目のアイコンを追加
  packages/apps/frontend/src/app/account/page.tsx
  packages/apps/frontend/src/app/login/page.tsx
Due: format-front, lint-front, typecheck-front, tailwind-colors-check-front, knip

feat: 続きから見るタブ
  packages/apps/backend/src/modules/videos/dto/continue-watching.dto.ts
  packages/apps/backend/src/modules/videos/videos.controller.ts
  packages/apps/backend/src/modules/videos/videos.service.ts
  packages/apps/frontend/src/app/page.tsx
  packages/apps/frontend/src/app/play/[videoId]/page.tsx
  packages/libs/src/components/EmptyState/index.tsx
  packages/libs/src/components/home/TabNavigation.tsx
  packages/libs/src/hooks/useContinueWatchingVideos.ts
  packages/libs/src/index.ts
  packages/libs/src/stores/appStateStore.ts
Due: format-front, lint-front, typecheck-front, tailwind-colors-check-front, format-back, lint-back, typecheck-back, format-libs, lint-libs, typecheck-libs, tailwind-colors-check-libs, knip

fix: scripts for migrate password
  packages/apps/backend/scripts/migrate-password.ts
Due: format-back, lint-back, typecheck-back, knip

feat: ffmpegを使用しない機能を追加
  .prototools
  biome.json
  lefthook.yml
  package.json
  packages/apps/backend/prisma/settings.prisma
  packages/apps/backend/src/modules/scan/scan-control.controller.ts
  packages/apps/backend/src/modules/scan/scan-settings.service.ts
  packages/apps/backend/src/modules/scan/scan.service.ts
  packages/apps/backend/src/services/scan/ScanStreamProcessor.ts
  packages/apps/backend/src/services/videoCacheService.ts
  packages/apps/backend/src/types/scanSettings.ts
  packages/apps/frontend/src/app/layout.tsx
  packages/libs/src/components/VideoCard/index.tsx
  packages/libs/src/components/scan/ScanSettingsPanel.tsx
  packages/libs/src/hooks/useBeforeUnload.ts
  packages/libs/src/types/scanSettings.ts
  scripts/check-tailwind-colors.py
Due: format-front, lint-front, typecheck-front, tailwind-colors-check-front, format-back, lint-back, typecheck-back, format-libs, lint-libs, typecheck-libs, tailwind-colors-check-libs, knip

fix: protoをバージョン固定
  .prototools
Due: none

fix: db の分裂を修正
  packages/apps/backend/package.json
  packages/apps/backend/prisma/migrations/20260211134500_unify_settings_into_main_db/migration.sql
  packages/apps/backend/prisma/schema.prisma
  packages/apps/backend/prisma/settings.prisma
  packages/apps/backend/src/modules/scan/scan-settings.service.ts
  packages/apps/backend/src/modules/settings/settings.service.ts
  packages/apps/backend/src/services/ScanSchedulePersistenceService.ts
  packages/apps/backend/src/services/videoCacheService.ts
Due: format-back, lint-back, typecheck-back, knip

fix: cors エラーの調査
  packages/apps/backend/src/config/cors.config.ts
  packages/apps/backend/src/main.ts
  packages/apps/backend/src/modules/videos/video.controller.ts
Due: format-back, lint-back, typecheck-back, knip

fix: 無駄なスキーマを改善し、sha256を使わないように修正
  packages/apps/backend/prisma/migrations/20260211143000_remove_video_hash_identity/migration.sql
  packages/apps/backend/prisma/schema.prisma
  packages/apps/backend/scripts/migrate-thumbnails.ts
  packages/apps/backend/src/libs/fileUtils.ts
  packages/apps/backend/src/modules/chapters/chapters.controller.ts
  packages/apps/backend/src/modules/chapters/chapters.service.ts
  packages/apps/backend/src/modules/playlists/playlists.controller.ts
  packages/apps/backend/src/modules/scan/scan-settings.service.ts
  packages/apps/backend/src/modules/videos/video-info.controller.ts
  packages/apps/backend/src/modules/videos/video.controller.ts
  packages/apps/backend/src/modules/videos/videos.module.ts
  packages/apps/backend/src/modules/videos/videos.service.ts
  packages/apps/backend/src/services/ThumbnailGenerator.ts
  packages/apps/backend/src/services/scan/ScanStreamProcessor.ts
  packages/apps/backend/src/services/videoCacheService.ts
  packages/apps/backend/src/utils/videoIdValidation.ts
  packages/apps/frontend/src/app/page.tsx
  packages/apps/frontend/src/app/play/[id]/page.tsx
  packages/apps/frontend/src/type.d.ts
  packages/apps/vr-unity/Assets/Scenes/debugScene.unity
  packages/apps/vr-unity/Assets/Scripts/VideoStreamingManager.cs
  packages/apps/vr-unity/Assets/Scripts/VideoStreamingModels.cs
  packages/libs/src/components/ModernVideoPlayer/hooks/usePlaylistNavigation.ts
  packages/libs/src/components/ModernVideoPlayer/hooks/useVideoChapters.ts
  packages/libs/src/components/ModernVideoPlayer/index.tsx
  packages/libs/src/components/ModernVideoPlayer/types.ts
  packages/libs/src/components/PlaylistVideoList/index.tsx
  packages/libs/src/components/VideoCard/index.tsx
  packages/libs/src/components/VideoGridContainer/index.tsx
  packages/libs/src/components/VideoList/index.tsx
  packages/libs/src/components/VideoPlayer/ResponsiveVideoLayout.tsx
  packages/libs/src/components/home/VideoContent.tsx
  packages/libs/src/hooks/useVideoPlayer.ts
  packages/libs/src/hooks/useWarningDialog.ts
  packages/libs/src/index.ts
  packages/libs/src/type.d.ts
  packages/libs/src/types/Playlist.ts
  packages/libs/src/types/VideoInfo.ts
Due: format-front, lint-front, typecheck-front, tailwind-colors-check-front, format-back, lint-back, typecheck-back, format-libs, lint-libs, typecheck-libs, tailwind-colors-check-libs, knip

chore: test
  README.md
Due: none

chore: add wrangler config
  packages/apps/frontend/wrangler.jsonc
Due: none

feat: スムーズなページングを追加
  packages/apps/frontend/src/app/page.tsx
  packages/libs/package.json
  packages/libs/src/components/VideoGridContainer/index.tsx
  packages/libs/src/components/VideoList/index.tsx
  packages/libs/src/components/home/VideoContent.tsx
  packages/libs/src/hooks/useContinueWatchingVideos.ts
  packages/libs/src/hooks/useVideos.ts
  packages/libs/src/utils/constants.ts
  pnpm-lock.yaml
Due: format-front, lint-front, typecheck-front, tailwind-colors-check-front, format-libs, lint-libs, typecheck-libs, tailwind-colors-check-libs, knip

fix: プレイリストの自動再生設定を追加
  packages/libs/src/components/ModernVideoPlayer/SettingsMenu.tsx
  packages/libs/src/components/ModernVideoPlayer/hooks/usePlaylistNavigation.ts
  packages/libs/src/components/ModernVideoPlayer/hooks/useVideoPlayerSettings.ts
  packages/libs/src/components/ModernVideoPlayer/index.tsx
  packages/libs/src/utils/constants.ts
Due: format-libs, lint-libs, typecheck-libs, tailwind-colors-check-libs, knip

fix: 設定モーダルのデザインを修正
  packages/libs/src/components/ModernVideoPlayer/SettingsMenu.tsx
  packages/libs/src/components/ModernVideoPlayer/hooks/useVideoControls.ts
  packages/libs/src/components/ModernVideoPlayer/index.tsx
Due: format-libs, lint-libs, typecheck-libs, tailwind-colors-check-libs, knip

chore: 責務ごとにファイルを分割
  packages/libs/src/components/ModernVideoPlayer/SettingsMenu.tsx
  packages/libs/src/components/ModernVideoPlayer/index.tsx
  packages/libs/src/components/ModernVideoPlayer/settings-menu/ChapterSkipRuleList.tsx
  packages/libs/src/components/ModernVideoPlayer/settings-menu/ChapterSkipSettingsPanel.tsx
  packages/libs/src/components/ModernVideoPlayer/settings-menu/MainSettingsPanel.tsx
  packages/libs/src/components/ModernVideoPlayer/settings-menu/PlaybackSettingsPanel.tsx
  packages/libs/src/components/ModernVideoPlayer/settings-menu/RangeSettingControls.tsx
  packages/libs/src/components/ModernVideoPlayer/settings-menu/ScreenshotSettingsPanel.tsx
  packages/libs/src/components/ModernVideoPlayer/settings-menu/SkipSettingsPanel.tsx
  packages/libs/src/components/ModernVideoPlayer/settings-menu/ui.tsx
  packages/libs/src/components/ModernVideoPlayer/settings-menu/useSettingsSheetState.ts
Due: format-libs, lint-libs, typecheck-libs, tailwind-colors-check-libs, knip

fix: video card design
  packages/libs/src/components/VideoCard/index.tsx
Due: format-libs, lint-libs, typecheck-libs, tailwind-colors-check-libs, knip

fix: topのデザイン
  packages/libs/src/components/VideoCard/index.tsx
  packages/libs/src/components/VideoList/index.tsx
  packages/libs/src/components/home/HeaderSection.tsx
  packages/libs/src/components/home/SearchSection.tsx
  packages/libs/src/components/home/TabNavigation.tsx
Due: format-libs, lint-libs, typecheck-libs, tailwind-colors-check-libs, knip

fix: scrollbar gutter
  packages/apps/frontend/src/app/globals.css
Due: none

feat: 検索履歴機能を追加
  packages/libs/src/components/home/SearchSection.tsx
  packages/libs/src/components/home/useRecentSearches.ts
  packages/libs/src/components/ui/Input.tsx
Due: format-libs, lint-libs, typecheck-libs, tailwind-colors-check-libs, knip

feat: authを共通化して書き忘れないようにする
  packages/apps/backend/src/app.controller.ts
  packages/apps/backend/src/app.module.ts
  packages/apps/backend/src/auth/auth.controller.ts
  packages/apps/backend/src/auth/decorators/current-user-id.decorator.ts
  packages/apps/backend/src/auth/decorators/public.decorator.ts
  packages/apps/backend/src/auth/jwt-auth.guard.ts
  packages/apps/backend/src/auth/permissions.controller.ts
  packages/apps/backend/src/auth/permissions.service.ts
  packages/apps/backend/src/modules/chapters/chapters.controller.ts
  packages/apps/backend/src/modules/chapters/chapters.module.ts
  packages/apps/backend/src/modules/playlists/playlists.controller.ts
  packages/apps/backend/src/modules/progress/progress.controller.ts
  packages/apps/backend/src/modules/progress/progress.module.ts
  packages/apps/backend/src/modules/system/program-info.controller.ts
  packages/apps/backend/src/modules/system/system.module.ts
  packages/apps/backend/src/modules/users/users.controller.ts
  packages/apps/backend/src/modules/videos/video-info.controller.ts
  packages/apps/backend/src/modules/videos/video.controller.ts
  packages/apps/backend/src/modules/videos/videos.controller.ts
Due: format-back, lint-back, typecheck-back, knip

fix: fetch apiに認証情報ヘッダを追加
  packages/libs/src/components/ModernVideoPlayer/hooks/useVideoChapters.ts
  packages/libs/src/components/scan/ScanSettingsPanel.tsx
  packages/libs/src/components/scan/hooks/useScanSchedule.ts
  packages/libs/src/hooks/useScanProgress.ts
  packages/libs/src/hooks/useVideoPlayer.ts
  packages/libs/src/stores/chapterSkipStore.ts
Due: format-libs, lint-libs, typecheck-libs, tailwind-colors-check-libs, knip

feat: 動画等一部のみに限定的なcookie認証を使用
  packages/apps/backend/src/auth/auth.controller.ts
  packages/apps/backend/src/auth/decorators/allow-cookie-auth.decorator.ts
  packages/apps/backend/src/auth/jwt-auth.guard.ts
  packages/apps/backend/src/auth/jwt.strategy.ts
  packages/apps/backend/src/modules/scan/scan-events.controller.ts
  packages/apps/backend/src/modules/videos/video.controller.ts
  packages/libs/src/api/auth.ts
  packages/libs/src/components/ModernVideoPlayer/VideoElement.tsx
  packages/libs/src/hooks/useScanProgress.ts
  packages/libs/src/stores/auth-store.ts
  packages/libs/src/stores/chapterSkipStore.ts
Due: format-back, lint-back, typecheck-back, format-libs, lint-libs, typecheck-libs, tailwind-colors-check-libs, knip

fix: broken type
  packages/libs/src/components/ModernVideoPlayer/VideoElement.tsx
  packages/libs/src/components/ModernVideoPlayer/hooks/useVideoControls.ts
  packages/libs/src/components/ModernVideoPlayer/hooks/useVideoSkip.ts
  packages/libs/src/hooks/useScanProgress.ts
  packages/libs/src/hooks/useVideoProgress.ts
Due: format-libs, lint-libs, typecheck-libs, tailwind-colors-check-libs, knip

fix: 認証漏れを修正
  packages/apps/backend/src/modules/media/thumbnails.controller.ts
  packages/apps/frontend/src/app/scan/page.tsx
  packages/libs/src/components/ModernVideoPlayer/hooks/useMediaSession.ts
  packages/libs/src/components/PlaylistVideoList/index.tsx
  packages/libs/src/components/VideoCard/index.tsx
  packages/libs/src/components/VideoList/index.tsx
Due: format-front, lint-front, typecheck-front, tailwind-colors-check-front, format-back, lint-back, typecheck-back, format-libs, lint-libs, typecheck-libs, tailwind-colors-check-libs, knip

fix: deprecated tsconfig baseUrl
  packages/apps/backend/tsconfig.json
  packages/apps/frontend/tsconfig.json
  packages/libs/tsconfig.json
  tsconfig.base.json
Due: knip

fix: wrangler settings
  packages/apps/frontend/wrangler.jsonc
Due: none

fix: chapter-skip apiのタイミングを修正
  packages/libs/src/components/ModernVideoPlayer/hooks/useVideoChapters.ts
  packages/libs/src/components/settings/SettingsModal.tsx
  packages/libs/src/hooks/useChapterSkipRules.ts
  packages/libs/src/stores/chapterSkipStore.ts
Due: format-libs, lint-libs, typecheck-libs, tailwind-colors-check-libs, knip

fix: chapter-skip apiのタイミングを修正2
  packages/libs/src/components/auth/auth-guard.tsx
Due: format-libs, lint-libs, typecheck-libs, tailwind-colors-check-libs, knip

fix: status codeの不一致
  packages/apps/backend/src/auth/decorators/current-user-id.decorator.ts
Due: format-back, lint-back, typecheck-back, knip

fix: マルチプラットフォームでのパスの扱いを修正
  packages/apps/backend/src/auth/permissions.service.ts
Due: format-back, lint-back, typecheck-back, knip

Path conditions:
  format-front: any of: packages/apps/frontend/**/*.{vue,tsx,ts,mts,mcs,mjs,cjs,js,json,md,yml,yaml}
  lint-front: any of: packages/apps/frontend/**/*.{vue,tsx,ts,mts,mcs,mjs,cjs,js,json,md,yml,yaml}
  typecheck-front: any of: packages/apps/frontend/**/*.{vue,tsx,ts,mts,mcs,mjs,cjs,js,json,md,yml,yaml}
  tailwind-colors-check-front: any of: packages/apps/frontend/**/*.{vue,tsx,ts,mts,mcs,mjs,cjs,js,json,md,yml,yaml}
  format-back: any of: packages/apps/backend/**/*.{ts,tsx,js,json,md,yml,yaml}
  lint-back: any of: packages/apps/backend/**/*.{ts,tsx,js,json,md,yml,yaml}
  typecheck-back: any of: packages/apps/backend/**/*.{ts,tsx,js,json,md,yml,yaml}
  format-libs: any of: packages/libs/**/*.{vue,tsx,ts,mts,mcs,mjs,cjs,js,json,md,yml,yaml}
  lint-libs: any of: packages/libs/**/*.{vue,tsx,ts,mts,mcs,mjs,cjs,js,json,md,yml,yaml}
  typecheck-libs: any of: packages/libs/**/*.{vue,tsx,ts,mts,mcs,mjs,cjs,js,json,md,yml,yaml}
  tailwind-colors-check-libs: any of: packages/libs/**/*.{vue,tsx,ts,mts,mcs,mjs,cjs,js,json,md,yml,yaml}
  knip: any of: packages/**/*.{vue,tsx,ts,mts,mcs,mjs,cjs,js,json,md,yml,yaml}
